.main{
    background: rgb(126, 122, 122);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
}

.submit-btn{
    cursor: pointer;
    padding: .7rem 2rem;
}

.form-input{
    padding: 1rem 2rem;
}